build/
build-vr/
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.log
debug_present.txt
precise_debug.txt
present_hwbp.txt
.vs/
CMakeFiles/
CMakeCache.txt
*.sln
*.vcxproj*
*.vcxproj.filters
x64/
Debug/
Release/
